<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="club.cqut.collageanswer">

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        >
        <activity
            android:name=".activity.HomeActivity_"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GuideActivity_"
            android:label="@string/title_activity_home" >
        </activity>

        <activity
            android:name=".activity.LoginActivity_"
            android:label="@string/title_activity_home" >

        </activity>

        <activity
            android:name=".activity.SignUpActivity_"
            android:label="@string/title_activity_home" >
        </activity>

        <activity
            android:name=".activity.SearchQuestionActivity_"
            android:label="@string/title_activity_home" >
        </activity>

        <activity
            android:name=".activity.AddQuestionActivity_"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".activity.ResponseActivity_"
            android:label="@string/title_activity_response" >
        </activity>

        <activity
            android:name=".activity.AllAnswerActivity_"
            android:label="@string/title_activity_response" >
        </activity>

        <activity
            android:name=".activity.SpecificAnswerActivity_"
            android:label="@string/title_activity_response" >
        </activity>

        <activity
            android:name=".activity.EmailAttestActivity_"
            android:label="@string/title_activity_response" >
        </activity>

        <activity
            android:name=".activity.FriendsAttestActivity_"
            android:label="@string/title_activity_response" >
        </activity>

        <activity
            android:name=".activity.AttestActivity_"
            android:label="@string/title_activity_response" >
        </activity>

        <activity
            android:name=".activity.EditActivity_"
            android:label="@string/title_activity_response" >
        </activity>

        <activity
            android:name=".activity.MyAnswerActivity_"
            android:label="@string/title_activity_response" >
        </activity>

        <activity
            android:name=".activity.MyQuestionActivity_"
            android:label="@string/title_activity_response" >
        </activity>

        <activity
            android:name=".activity.AttestEditActivity_"
            android:label="@string/title_activity_response" >
        </activity>

        <activity
            android:name=".activity.MyFocusActivity_"
            android:label="@string/title_activity_response" >
        </activity>

        <activity
            android:name=".activity.QuestionCommit_"
            android:label="@string/title_activity_response" >
        </activity>

        <activity
            android:name=".activity.NoticeActivity_"
            android:label="@string/title_activity_response" >
        </activity>

        <activity
            android:name=".activity.SpecificNoticeActivity_"
            android:label="@string/title_activity_response" >
        </activity>
    </application>

</manifest>
